.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  color: black;
}

.label input {
  width: 300px;
}

.question {
  display: inline-block;
  margin-right: 7px;
  color: black;
}

.container h1 {
  color: black;
}

.redirect:hover {
  text-decoration: underline;
}
