.category {
  border-left: 5px solid #fb4c35;
  width: auto;
  display: block;
  background: linear-gradient(to right, #fb4c35 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  cursor: pointer;

  position: relative;
  margin-bottom: 20px;
  padding: 10px;

  &:hover {
    background-position: left bottom;
  }
}
.category span {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0;

  &:hover {
    color: #fff;
  }
}
