.comment {
  display: grid;
  grid-template-areas:
    'a u c d'
    'a t t d';
  grid-template-columns: 80px 120px 5fr;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px -2px gray;
  border-radius: 3px;
  min-height: 70px;
  padding: 10px;
}

.avatar {
  grid-area: a;
  margin: 10px;
  width: 50px;
  height: 50px;
  align-self: center;
}

.delete {
  grid-area: d;
  justify-self: end;
  transition: width 0.5s ease;
  width: 50px;
  margin: 10px;
  cursor: pointer;
  &:hover {
    width: 70px;
  }

  @media (max-width: 768px) {
    height: 50px;
    align-self: center;
  }
}

.text {
  grid-area: t;
}

.username {
  grid-area: u;
  font-size: 14px;
  align-self: center;
  font-weight: 500;
}

.createdAt {
  grid-area: c;
  align-self: center;
  font-size: 12px;
}

.commentInput {
  width: 100%;
}
