.wrapper {
  display: grid;
  grid-template-areas: 'l a';
  grid-template-columns: 5fr;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 60px;
  padding-left: 60px;
  margin-bottom: 40px;
  @media (max-width: 768px) {
    padding-left: 10%;
    height: 80px;
  }
}

.button {
  background-color: black;
  border-style: none;
  cursor: pointer;
  font-size: 16px;
}

.links {
  grid-area: l;
  @media (max-width: 768px) {
    display: none;
  }
}

.menu {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.auth {
  grid-area: a;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.username {
  margin-bottom: 5px;
}
