.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 60px;
  padding-left: 60px;
}

.button {
  background-color: black;
  border-style: none;
  cursor: pointer;
  font-size: 16px;
}
