.wrapper {
  color: black;
  padding: 0 50px;
  display: grid;
  grid-template-areas:
    'i'
    'g'
    't'
    's'
    'e'
    'c';
  grid-gap: 50px;
  grid-template-rows: 1fr 20px;
}

.title {
  grid-area: t;
}

.text {
  grid-area: e;
  text-align: justify;
}

.image {
  grid-area: i;
  max-width: 100%;

  height: 60vh;
  object-fit: cover;

  @media (max-width: 1280px) {
    width: 100%;
    object-fit: cover;
    height: 300px;
  }
}

.comments {
  grid-area: c;
}

.date {
  grid-area: g;
  color: #868585;
  font-size: 18px;
  vertical-align: middle;
}

.date svg {
  vertical-align: bottom;
}

.date span {
  margin-left: 5px;
}

.social {
  grid-area: 's';
  display: flex;
  gap: 5%;
  width: 40%;
}

.box {
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #fff;
  width: 400px;
}

.box:nth-child(1) {
  background-color: #1da1f2;
}

.box:nth-child(2) {
  background-color: #ff0000;
}

.box:nth-child(3) {
  background-color: #034192;
}

.box span {
  font-weight: 500;
  position: relative;
  bottom: 5px;
  left: 10px;
}
