.wrapper {
  color: black;
  padding: 0 50px;
  display: grid;
  grid-template-areas:
    'i t'
    'i e'
    'c c';
  grid-gap: 50px;
  grid-template-rows: 1fr 5fr;

  @media (max-width: 1280px) {
    grid-template-areas:
      'i'
      't'
      'e'
      'c';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
  }
}

.title {
  grid-area: t;
}

.text {
  grid-area: e;
}

.image {
  grid-area: i;
  @media (max-width: 1280px) {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.comments {
  grid-area: c;
}
