.wrapper {
  display: grid;
  grid-template-areas:
    'i t'
    'i e';
  text-align: center;
  justify-items: start;
  background-color: white;
  color: black;
}

.image {
  grid-area: i;
}

.title {
  grid-area: t;
  margin: 20px;
  font-size: 40px;
}

.text {
  grid-area: e;
  margin: 0 20px;
  text-align: justify;
}
